body {
    font-family: 'Fredoka One', sans-serif;
    background-color: dodgerblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center; /* Center align text and elements */
}

.container {
    text-align: center;
}

.game-heading {
    font-size: 120px; /* Increase the heading size */
    color: #FAB201;
    -webkit-text-stroke: 5px white;
    margin-bottom: 20px; /* Add some space between the heading and the board */
}

.game-board {
    display: inline-grid; /* Center the game board */
    grid-template-columns: repeat(3, 100px);
    gap: 10px;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 15px; /* Add rounded corners */
}

.cell:hover {
    background-color: #ddd;
}

.cell.x::before, .cell.circle::before {
    content: attr(data-mark);
    color: #FAB201; /* Set the color of X and O */
}

.winner-message {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#winnerText {
    font-size: 48px;
    color: #FAB201;
    -webkit-text-stroke: 2px white;
    margin-bottom: 20px;
}

.restart-button {
    font-size: 24px;
    color: white;
    background-color: #FAB201;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
}

.restart-button:hover {
    background-color: #e6a101;
}

.footer {
    margin-top: 20px;
    font-size: 20px;
    color: white;
}
